* {
    outline: 1px solid orange;
}
header {
margin: 0px auto;
width: 1280px;
height: 699px;
left: 0px;
top: 0px;
background: #222222;
}

nav{
    display: flex;
}

main{

width: 1280px;
height: 1129px;
left: 0px;
top: 699px;

}
footer{

width: 1280px;
height: 354px;
left: 0px;
top: 1828px;
background: #131313;


}



